<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <!-- To use the MySQL data provider set providerName to "MySql.Data.MySqlClient" or "MySql".
             Anything else will use the SQL Server data provider. -->
        <add name="Shoko" connectionString="Data Source=;Initial Catalog=JMM;User ID=;Password=" providerName="SqlClient" />
        <!--<add name="Shoko" connectionString="Server=;Uid=;Pwd=;Database=jmm;Port=3306" providerName="MySql" />-->
    </connectionStrings>
    <appSettings>
        <add key="AutoGroupSeriesRelationExclusions" value="same setting|character" />
        <add key="AutoGroupSeriesUseScoreAlgorithm" value="false" />
    </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add description=".Net Framework Data Provider for MySQL" invariant="MySql.Data.MySqlClient" name="MySQL Data Provider" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.10.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>