<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="Shoko" connectionString="Data Source=;Initial Catalog=JMM;User ID=;Password=" providerName="SqlClient"/>
    </connectionStrings>
    <appSettings>
        <add key="AutoGroupSeriesRelationExclusions" value="same setting|character"/>
        <add key="AutoGroupSeriesUseScoreAlgorithm" value="false"/>
    </appSettings>
</configuration>